.bigbox {
  background-color: beige;
  width: 350px;
  height: 250px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

div {
  width: 100%;
  height: 50%;
  background-color: #F5D595;
  position: relative
}

p {}  