@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://use.typekit.net/hnf3snf.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
}

.NotoSansJP {
  font-family: Noto Sans JP, sans-serif;
  font-weight: 500;
  color: red;
}

.box1 * {
  align-content: center;
  font-size: 1em;
  font-family: Helvetica Neue LT Pro, sans-serif;
  font-style: italic;
}

/* hover mechanics */
a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.hide {
  display: none;
  font-size: .5em;
}

.NotoSansJP:hover +.hide {
  display: inline; 
  position: relative;
}

.box1 *:hover {
  background-color: rgb(217, 217, 217, 20%);
  transition: 0.3s;
}

.b2box-11:hover {
  background-color: rgb(217, 217, 217, 20%);
  transition: 0.3s;
}
/* end */
.cut-div {
    margin-top: 25px;
    background-color: #F5D595;
    border-left: 2px solid black;
    width: 5vw;
    height: 45vw;
  clip-path: polygon(0 0, 100% 4%, 100% 100%, 100% 96%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 100% 96%, 0 100%);
}

.cutbag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: #F5D595;
  height: 45vw;
  width: 70vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5D595;
    height: 90%;
    width: 80%;
}
/* containers within big container (4) */
.box1 {
    display: flex;
    max-height: 55%;
    max-width: 50%;
    flex-wrap: wrap;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    min-height: 55%;
    min-width: 50%;
    
}

.box3 { 
    min-height: 45%;
    min-width: 67%;
}

.box4 {
    height: 45%;
    width: 33%;
    background-color: #F5D595;
}
/* end */
/* borders */
.entry-3, .entry-4, .entry-5, .entry-6, .entry-7, .entry-8, .entry-9, .entry-10 {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-left: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}


/* width/height for all children */
/* box 1 */
.entry-1, .entry-2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    min-height: 20%;
    border-left: 2px solid #98ad82;
    border-top: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

.entry-3, .entry-4 {
    flex-basis: 50%;
    height: 17%;
}

.entry-5, .entry-6 {
    flex-basis: 50%;
    height: 23%;
}

.entry-7, .entry-8 {
    flex-basis: 50%;
    height: 23%;
}

.entry-9, .entry-10 {
    flex-basis: 50%;
    height: 17%;
}
/* Box 2 */
 .b2box-2, .b2box-3, .b2box-4, .b2box-5, .b2box-6, .b2box-7, .b2box-8, .b2box-9, .b2box-10 {
    height: 5%;
    border-left: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}


.b2box-1 {
    border: 2px solid #98ad82;
    height: 5%;
    width: 100%;
}

.b2box-2, .b2box-5, .b2box-8 {
    width: 5%;
}

.b2box-4, .b2box-7, .b2box-10 {
    width: 10%;
    border-right: 2px solid #98ad82
}

.b2box-3, .b2box-6, .b2box-9 {
    width: 85%; 
}

.b2box-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-left: 2px solid #98ad82;
    border-right: 2px solid #98ad82; 
    border-bottom: 2px solid #98ad82;
}

.b2box-11c {
  font-family: Helvetica Neue LT Pro, sans-serif;
  font-size: 1.5rem;
}

/* box 3 */
.b3box-1, .b3box-2, .b3box-3 {
    border-left: 2px solid #98ad82; 
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

.b3box-1 {
    height: 19%;
}

.b3box-2 {
    height: 41%;
}

.b3box-3 {
    height: 40%;
}
/* box 4 */
.b4box-1 {
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
    height: 19%;
}

.b4box-2 {
    height: 41%;
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

body {
width:
  min-height: 100vw;
/*   overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}
