@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://use.typekit.net/hnf3snf.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  text-align: center;
  margin: 0;
  padding: 0;
}

.NotoSansJP {
  font-family: Noto Sans JP, sans-serif;
  font-weight: 500;
  color: red;
}

.ekonte {
  display: none;
}

.No_line {
  display: none;
}

.Next, .Back {
  display: none;
}

body {
/*   overflow: hidden; */
  /* height: 50vw; */
  /* height: 90vh; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.box1 * {
  align-content: center;
  font-size: 1em;
  font-family: Helvetica Neue LT Pro, sans-serif;
  font-style: italic;
}

/* hover mechanics */
a:visited {
  text-decoration: none;
  color: black;
}

a:link {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.hide {
  display: none;
  font-size: .5em;
}

.NotoSansJP:hover +.hide {
  display: inline; 
  position: relative;
}

.box1 *:hover {
  background-color: rgb(217, 217, 217, 20%);
  transition: 0.3s;
}

.b2box-11:hover {
  background-color: rgb(217, 217, 217, 20%);
  transition: 0.3s;
}
/* end */
.cut-div {
    /* margin-top: 25px; */
    background-color: #F5D595;
    border-left: 2px solid black;
    width: 5vw;
    height: 90vh;
  clip-path: polygon(0 0, 100% 4%, 100% 100%, 100% 96%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 100% 96%, 0 100%);
    /* margin-top: 25px;
    margin-right: 25px; 
    margin-bottom: 25px; */


}

.cutbag {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5D595;
  height: 90vh;
  width: 75vw;
  /* margin-top: 25px; */
  /* margin-left: 25px;
  margin-bottom: 25px; */
}

.cutbag, .container, .cut-div, .box4 {
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5D595;
    height: 90%;
    width: 80%;
}
/* containers within big container (4) */
.box1 {
    display: flex;
    max-height: 55%;
    max-width: 50%;
    flex-wrap: wrap;
}

.box2 {
    display: flex;
    flex-wrap: wrap;
    min-height: 55%;
    min-width: 50%;
    
}

.box3 { 
    min-height: 45%;
    min-width: 67%;
}

.box4 {
    height: 45%;
    width: 33%;
    background-color: #F5D595;
}
/* end */
/* borders */
.entry-3, .entry-4, .entry-5, .entry-6, .entry-7, .entry-8, .entry-9, .entry-10 {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-left: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}


/* width/height for all children */
/* box 1 */
.entry-1, .entry-2 {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    min-height: 20%;
    border-left: 2px solid #98ad82;
    border-top: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

.entry-3, .entry-4 {
    flex-basis: 50%;
    height: 17%;
}

.entry-5, .entry-6 {
    flex-basis: 50%;
    height: 23%;
}

.entry-7, .entry-8 {
    flex-basis: 50%;
    height: 23%;
}

.entry-9, .entry-10 {
    flex-basis: 50%;
    height: 17%;
}
/* Box 2 */
 .b2box-2, .b2box-3, .b2box-4, .b2box-5, .b2box-6, .b2box-7, .b2box-8, .b2box-9, .b2box-10 {
    height: 5%;
    border-left: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}


.b2box-1 {
    border: 2px solid #98ad82;
    height: 5%;
    width: 100%;
}

.b2box-2, .b2box-5, .b2box-8 {
    width: 5%;
}

.b2box-4, .b2box-7, .b2box-10 {
    width: 10%;
    border-right: 2px solid #98ad82
}

.b2box-3, .b2box-6, .b2box-9 {
    width: 85%; 
}

.b2box-11 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    border-left: 2px solid #98ad82;
    border-right: 2px solid #98ad82; 
    border-bottom: 2px solid #98ad82;
}

.b2box-11c {
  font-family: Helvetica Neue LT Pro, sans-serif;
  font-size: 1.5rem;
}

/* box 3 */
.b3box-1, .b3box-2, .b3box-3 {
    border-left: 2px solid #98ad82; 
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

.b3box-1 {
    height: 19%;
}

.b3box-2 {
    height: 41%;
}

.b3box-3 {
    height: 40%;
}
/* box 4 */
.b4box-1 {
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
    height: 19%;
}

.b4box-2 {
    height: 41%;
    border-right: 2px solid #98ad82;
    border-bottom: 2px solid #98ad82;
}

/* media queries */

.container {
  max-width: 1536px;
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 0.5rem; 
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .b2box-11c {
    font-size: 1.8rem;
  }
  .box1 {
    font-size: 1.1rem;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .box1 {
    font-size: 0.9rem;
  }
  .b2box-11c {
    font-size: 1.4rem;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .box1 {
    font-size: 0.9rem;
  }
  .b2box-11c {
    font-size: 1.3rem;
  }
}

/* 942 */
@media (max-width: 942px) {
  .container {
    max-width: 768px;
  }
  .box1 {
    font-size: 0.8rem;
  }
  .b2box-11c {
    font-size: 1.2rem;
  }
}

/* 865 */
@media (max-width: 865px) {
  .b2box-11c {
    font-size: 1rem;
  }
  .box1 {
    font-size: 0.7rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
   .box1 {
    font-size: 0.7rem;
  }
  .b2box-11c {
    font-size: 0.8rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
   .box1 {
    font-size: 0.5rem;
  }
  .b2box-11c {
    font-size: 0.5rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .cutbag {
    display: none;
  }
  .cut-div {
    display: none;
  }
  .ekonte_bg {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .No_line {
    display:block;
    position: absolute;
    top: 3.5%;
    left: 5%;
    width: 35vw;
    border-bottom: 1px solid black;
    text-align: left;
    font-size: 0.9rem;
  }
  .Next {
    display: block;
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    top: 3%;
    right: 5%;
    border: 1px solid black;
  }

  .Back {
    display: block;
    width: 4.5vw;
    height: 4.5vw;
    position: absolute;
    top: 3%;
    right: 5%;
    border: 1px solid black;
  }

  .ekonte_container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 5%;
  }
  #img {
    width: 100%;
    height: 100%;
  }
  
  #random_layout, #random_layout2, #random_layout3, #random_layout4, #random_layout5 {
    width: 100%;
    height: 100%;
  }
  .ekonte:first-child {
    width: 90vw;
    border-bottom: 1px solid black;
    height: 3%;
    font-size: 0.7rem;
  }
  .ekonte {
    display: flex;
    width: 90vw;
    height: 19.4%;
    border-bottom: 1px solid black;
    font-family: Helvetica, sans-serif;
  }
  .ekonte1:nth-child(1) {
    width: 5%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ekonte1:nth-child(2) {
    
    width: 50%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
     display: flex;
    justify-content: center;
    align-items: center;
  }
   .ekonte1:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    border-right: 1px solid black;
  }
  .ekonte1:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid black;
  }
  .SC {
    font-size: 0.8rem;
  }
  .dialog1, .dialog2, .dialog3, .dialog4, .dialog5 {
    font-weight: 400;
    font-size: 0.8rem;
  }
  
  .ekonte1:nth-child(5) {
    width: 7%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}