@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://use.typekit.net/hnf3snf.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}


body {
    /* background-image: url(/assets/Intro.png); */
}

.Title {
  font-size: 2rem;
  color: red;
}

.BackgroundContainer {
    display: flex;
    width: 1440px;
    height: 1024px;
    background-color: #f5d595;
    /* background-color: white; */
    justify-content: center;
    align-items: center;
}

.Container {
    display: flex;
    border: 2px solid black;
    width: 1200px;
    height: 717px;
    justify-content: center;
    align-items: center;
}

.Border1 {
    font-family: Helvetica Neue LT Pro, sans-serif;
    border: 1px dashed black;
    width: 1030px;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    padding: 1.5rem;
    font-size: 1.6rem;
    text-align: left;
    
}


.ContentBorder1 {
    font-family: Helvetica Neue LT Pro, sans-serif;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.PegBar {
    display: flex;
    width: 1440px;
    height: 26px;
    align-self: flex-start;
    justify-content: space-around;
    margin-top: 2rem;
    position: absolute;
}

.Acme1 {
    width: 120px;
    height: 26px;
    background-color: black;
    border-radius: 25px;
}

.Circle {
    width: 26px;
    height: 26px;
    background: black;
    clip-path: circle(50% at 50% 50%);
}

.Acme2 {
    width: 120px;
    height: 26px;
    background-color: black;
    border-radius: 25px;
}