@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("https://use.typekit.net/hnf3snf.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

*
{
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Helvetica Neue LT Pro, sans-serif; 
  font-size: 30px;
  width: 500px;
  margin: 0 auto;
}

.NotoSansJP {
  font-family: Noto Sans JP, sans-serif; 
  font-weight: 350;
  color: red;
  
}

h2 { 
  font-family: Helvetica Neue LT Pro, sans-serif; 
  font-size: 18px;
  font-weight: 450;
  color: red;
  background-color: 
}

p {
  font-family: Helvetica Neue LT Pro, sans-serif; 
  font-size: 12px;
  font-weight: 200;
  width: 250px;
  margin: 0 auto;
}

h3 {
  font-family: Helvetica Neue LT Pro, sans-serif; 
  font-size: 15px;
  font-weight: 200;
  color: red
}

ol {
  width: 250px;
  margin: 0 auto;
  font-family: Helvetica Neue LT Pro, sans-serif; 
  font-size: 12px;
  font-weight: 200;

}

img {
  width: 50%
}



/* CUTBAG */
.CutBagContainer {
  position: relative;
  width: 1328px;
  height: 927px;
  background-color: #F5D595;
  margin: 0 auto;
  
}

.TopContainer-1 {
  width: 36.4457831%;
  height: 410px;
  border-top: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82;
  border-left: 2px solid #98AD82;
  position: absolute;
  top: 72px;
  left: 96px;
  border-radius: 25px 0 0 25px;
  flex-grow: 1;
}

.TopContainer-2 {
  width: 488px;
  height: 409px;
  border: 2px solid #98AD82;
  position: absolute;
  left: 482px;
  bottom: -2px;
  border-radius: 0px 25px 25px 0px;
  flex-grow: 1;


}
/* FLEX BOX CONTAINER 1 (TOP RIGHT)  */

.FlexBox-1 {
  flex-basis: 301px;
  height: 84px;
  border-right: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82;
  flex-grow: 1;

}

.FlexBox-2 {
  flex-basis: 179px;
  height: 84px;
  border-bottom: 2px solid #98AD82;
  flex-grow: 1;

}

/* .FlexBox-3 {
  flex-basis: 485px;
  height: 84px;
  border-bottom: 2px solid #98AD82; 
} 
  should be in Container 2 */ 

.FlexBox-3 {
  flex-basis: 239px;
  height: 72px;
  border-bottom: 2px solid #98AD82; 
  border-right: 2px solid #98AD82;
  flex-grow: 1;

}

.FlexBox-4 {
  flex-basis: 240px;
  height: 72px;
  flex-grow: 1;
  border-bottom: 2px solid #98AD82; 
  
}

.FlexBox-5 {
  flex-basis: 239px;
  height: 91px;
  border-bottom: 2px solid #98AD82; 
  border-right: 2px solid #98AD82;
  flex-grow: 1;

}

.FlexBox-6 {
  flex-basis: 239px;
  height: 91px;
  border-bottom: 2px solid #98AD82; 
  flex-grow: 1;
}

.FlexBox-7 {
  flex-basis: 239px;
  height: 91px;
  border-right: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82; 
  flex-grow: 1;

}

.FlexBox-8 {
  flex-basis: 239px;
  height: 91px;
  border-bottom: 2px solid #98AD82; 
  flex-grow: 1;
}

.FlexBox-9 {
  flex-basis: 239px;
  height: 73px;
  border-right: 2px solid #98AD82;
  flex-grow: 1;
}

.FlexBox-10 {
  flex-basis: 239px;
  height: 73px;
  flex-grow: 1;

}
.TopContainer-1 { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.TopContainer-2 { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

NESTED CONTENTS WITHIN TOPCONTAINER
.Box1 {
  width: 302px;
  height: 86px;
  border-right: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82;
  font-size: ;
  /* background-color: rgba(217, 217, 217, .20); */
  
}

.Box2 {
  position: absolute;
  width: 184px;
  height: 86px;
  border-right: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82;
  top:0px;
  left:302px;
}

.Box3 {
  position: absolute;
  width: 484px;
  border-bottom: 2px solid #98AD82;
  right:0px;
  top: 84px;
}
/* NESTED WITHIN BOX3 */

.Line1-Box3 {
  position: absolute;
  width: 484px;
  border-bottom: 2px solid #98AD82;
  bottom: 66px;
}

.Line2-Box3 {
  position: absolute;
  width: 484px;
  border-bottom: 2px solid #98AD82;
  bottom: 42px;
}

.Line3-Box3 {
  position: absolute;
  width: 484px;
  border-bottom: 2px solid #98AD82;
  bottom: 21px;
}

.Line4-Box3 {
  position: absolute;
  width: 484px;
  border-bottom: 2px solid #98AD82;
}

.Vertical1-Box3 {
  position: absolute; 
  height: 67px;
  border-right: 2px solid #98AD82;
  bottom: 0px;
  right: 68px;
}


.Vertical2-Box3 {
  position: absolute; 
  height: 67px;
  border-right: 2px solid #98AD82;
  bottom: 0px;
  left: 25px;
}

/* 2-8 BOX */

.Box2-1 {
  position: absolute; 
  width: 239px;
  height: 72px;
  border-right: 2px solid #98AD82;
  border-bottom: 2px solid #98AD82;
  top:
}


.BottomContainer {
  width: 972px;
  height: 229px;
  border: 2px solid #98AD82;
  position: absolute;
  bottom: 200px;
  left: 96px;
  border-radius: 25px 25px 25px 0px;
}

.FinalContainer {
  width: 673px;
  height: 145px;
  border: 2px solid #98AD82;
  position: absolute;
  border-radius: 0px 0px 25px 25px;
  bottom: 57px;
  left: 96px;


}
.vertical-line {
  border-right: 2px solid black;
  opacity: 0.5;
  height: 927px;
  display: inline-block;
  position: absolute;
  left: 1196px;
}

